#content_sc {
top: 15px;
 
padding: 20px;
border: 1px solid #ccc;
overflow:auto;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
}
#content_sc img {
    width:100px;
    height:100px;
}   

#content_sc div {
    width:480px;
    height:100px;
}
    
 
